#tiles
#menu
  .pizza
    %p I WORK FOR PIZZA
    %p= link_to "Close", "#"
    = render_pizza_list
  .dessert
    %p I WORK FOR DESSERT
    %p= link_to "Close", "#"
  .salad
    %p I WORK FOR SALAD
    %p= link_to "Close", "#"
  .pasta
    %p I WORK FOR PASTA
    %p= link_to "Close", "#"
