#menu
  .pizza
    %p I WORK FOR PIZZA
    = link_to "Close", "#"
    = render_pizza_list
  .dessert
    %p I WORK FOR DESSERT
    = link_to "Close", "#"
  .salad
    %p I WORK FOR SALAD
    = link_to "Close", "#"
  .pasta
    %p I WORK FOR PASTA
    = link_to "Close", "#"
