#tiles
#menu
  .pizza
    %p= link_to "Close", "#"
    = render_pizza_list
  .dessert
    %p= link_to "Close", "#"
    - data.desserts.desserts.each do |key, map|
      .item
        .name= titleize key
        .desc= map[:desc]
        .prices= map[:price]
  .salad
    %p= link_to "Close", "#"
    - data.salads.salads.each do |key, map|
      .item
        .name= titleize key
        .desc= map[:desc]
        .prices 6 9 14
  .pasta
    %p= link_to "Close", "#"
    - data.pasta.pasta.each do |key, map|
      .item
        .name= titleize key
        .desc= map[:desc]
        .prices 6 9 14
